.breed-info {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: #f5efef;
  border-radius: 10px;
  font-size: 20px;
  line-height: 1.8;
}

.breed-characteristics {
  display: flex;
  align-items: center;
  gap: 20px;
}

.characteristics-content {
  flex: 1;
}

.characteristics-image img {
  width: 350px; 
  height: 400px;
  border-radius: 20%;
  object-fit: contain;
}
